﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>{{title}}</h1>
    <h3>Employee</h3>
    <hr />
    <form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="form-group row">
            <label class=" control-label col-md-12" for="Name">Name</label>
            <div class="col-md-4">
                <input id="name-input" class="form-control" type="text" formControlName="name" [(ngModel)]="nameVal">
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'name') && formDir.submitted">
                Name is required.
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="Gender">Gender</label>
            <div class="col-md-4">
                <select class="form-control" data-val="true" formControlName="gender" [(ngModel)]="genderVal">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'gender') && formDir.submitted">
                Gender is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="Email">Email</label>
            <div class="col-md-4">
                <input class="form-control" type="email" formControlName="email" [(ngModel)]="emailVal">
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'email') && formDir.submitted">
                Email is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="PhoneNumber">Phone Number</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="phoneNumber" data-val="true" [(ngModel)]="phoneNumberVal" >
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'phoneNumber') && formDir.submitted">
                Phone Number is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="Birthday">Birthday</label>
            <div class="col-md-4">
                <input class="form-control" type="date" formControlName="birthday" data-val="true" [(ngModel)]="birthdayVal">
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'birthday') && formDir.submitted">
                Birthday Number is required
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</body>
</html>