<h1>Hello, Ofakim-group !!</h1>
<p>Welcome to<strong>Tal's</strong> project</p>
<ul>
    <li><strong>Before you start.</strong> Please create a new database and run the following commands: <br /> </li>
    <li>
        <code>
            Create table tblEmployee( <br />
            EmployeeId int IDENTITY(1,1) NOT NULL, <br />
            Name nvarchar(300) NOT NULL, <br />
            Email nvarchar(320) NOT NULL,<br />
            PhoneNumber varchar(50) NOT NULL,<br />
            Gender varchar(6) NOT NULL,<br />
            Birthday Date Not Null<br />
            )<br />
        </code>
        <br />
    </li>
    <li>
        <code>
            Create procedure spAddEmployee<br />
            (
            @Name NVARCHAR(300),<br />
            @Email  NVARCHAR(320),<br />
            @PhoneNumber VARCHAR(50),<br />
            @Gender VARCHAR(6),<br />
            @Birthday Date<br />
            )<br />
            as<br />
            Begin<br />
            Insert into tblEmployee (Name,Email,PhoneNumber,Gender,Birthday)<br />
            Values (@Name,@Email,@PhoneNumber, @Gender, @Birthday)<br />
            End<br />
        </code>
        <br />
    </li>

    <li>
        <code>
            Create procedure spGetAllEmployees <br />
            as <br />
            Begin <br />
            select * <br />
            from tblEmployee <br />
            order by EmployeeId <br />
            End <br />
        </code>
        <br />
    </li>

    <li><strong>Then get a connection string to the database and place it in Models/<code>EmployeeDataAccessLayer.cs</code> connectionString variable.  </strong></li>
    <li>Now you can click on <strong>Fetch employee</strong></li>
    
</ul>
<!--<p>To help you get started, we've also set up:</p>
<ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Server-side prerendering</strong>. For faster initial loading and improved SEO, your Angular app is prerendered on the server. The resulting HTML is then transferred to the browser where a client-side copy of the app takes over.</li>
    <li><strong>Webpack dev middleware</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Hot module replacement</strong>. In development mode, you don't even need to reload the page after making most changes. Within seconds of saving changes to files, your Angular app will be rebuilt and a new instance injected is into the page.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and the <code>webpack</code> build tool produces minified static CSS and JavaScript files.</li>
</ul>-->
